.two div{
    width: 50vw;
    display: inline-block;
}
#about-img{
    float: left;
    margin: auto;
    text-align: right;
    width: 50vw;
    justify-content: space-around;
    margin-top: 10em;
    padding-right: 7em;
}
#about-txt{
    float: right;
    width: 48vw;
    margin-top: 10em;
}
.about-p{
    width: 40vw;
}
#about-txt h3{
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2rem;
    margin-left: 7em;
}
#cv{
    margin-top: 2em;
    width: 10em;
    margin-left: 14em;
}