/* para dividir a section da home em 2 divs iguais */

.one div{
    width: 50vw;
    display: inline-block;    
}
#hello-txt{
    float: left;
    text-align: center;
    line-height: 2em;
}
#hello-txt h1{
    font-size: 4em;
    line-height: 1em;
}
#hello-txt h2{
    font-size: 2em;
}
#hire{
    margin: auto;
    margin-top: 20px;
    width: 10em;
}
#hello-img{
    float: right;
}
#hello-img img{
    position: absolute;
    width: 400px;
    margin-left: 7rem;
    top: 10em
}