.one div{
    width: 50vw;
    display: inline-block;  
    position: relative;
}
#hello-txt{
    position: absolute;
    left: 0;
    text-align: center;
    top: 10em;
}
#hello-txt h1{
    font-size: 4em;
    line-height: 1em;
}
#hello-txt h2{
    line-height: 5em;}
#hire{
    margin: auto;
    margin-top: 20px;
    width: 10em;
}
#hello-img img{
    position: absolute;
    width: 400px;
    top: 3em;
    left: 50em;
}