ul {
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1.2rem;
  margin-right: 3em;
}    
a{
  color:#00ffbb;
  text-decoration: none;
  transition: 0.3s;
  margin-left: 3em;
}
ul a:hover {
  color: #ffffff;
  background: #00ffbb;
  border-radius: 30px;
}
.logo img{
  display: flex;
  width: 17em;
  height: auto;
  margin-left: 3em;
}
.logo img:hover{
  width: 19em;
  height: auto;
}
.header {
  width: 100%;
  box-sizing: border-box;
  height: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #00000057;
}
#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}
#menu a {
  display: block;
  padding: 0.5rem;
}
#btn-mobile {
  display: none;
}