
@media (max-width: 1225px) {
    body{
        width: 100vw;
    }
    #menu{
        width: 50vw;
    }
    #hello-img img{
        width: 400px;
        left: 40em;
    }
    .home-p{
        margin-left:0;
    }
    #cv{
        margin-top: 5em;
    }
    #hello{
        margin-left: 0;
    }
    #about-img{
        width: 90vw;
        margin-left: 16em;
    }
    #about-img img{
        width: 150px;
        float: left;
    }
    .two div{
        width: 90vw;
        display: inline-block;      
        line-height: 1em;
    }
    .about-p{
        width: 50vw;
        font-size: small;
        margin: 0 auto;
        float: right;
    }
    #about-txt{
        width: 93vw;
    }
    #cv{
        width: 10em;
        margin-left: 37vw;
    }
    .two h2{
        width: 90vw;
        margin-left: 0;
    }
    .three{
        margin-top: 30em;
    }
    .four{
        margin-top: 5em;
    }
    .start{
        display: none;
    }
}

@media (max-width: 1020px) {
    #hello-txt h1{
        font-size: 3.5em;
    }
    #hello-img img{
        width: 400px;
        left: 35em 
    }
    #about-img{
        margin-left: 10em;
    }
    .portfolio-img{
        width: 25em;
        height: auto;
    }    
}

@media (max-width: 850px) {
    .header{
        width: 100%;
    }
    #menu {
        display: block;
        position: absolute;
        width: 50vw;
        top: 5.5rem;
        right: -58px;
        background: #00000057;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: 100vh;
        visibility: visible;
        overflow-y: auto;
    }
    .logo img{
        display: flex;
        width: 15em;
        height: auto;
    }
    .logo img:hover{
        width: 15em;
        height: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-radius: 0;
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburger {
        border-top: 2px solid;
        width: 20px;
        color: #00ffbb;
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
        color: #00ffbb;
    }
    #nav.active #hamburger {
        border-top-color: transparent;

    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    a.start{
        display: none;
    }
    #map iframe{
        width: 70vw;
        height: 40vh;
    }
    .container a{
        font-size: small;   
        overflow: hidden;
    }
    #hello-txt h1{
        font-size: 3em;
    }
    #hello-img img{
        width: 300px;
        left: 33em 
    }
    #about-img{
        margin-left: 7em;
    }
    .portfolio-img{
        width: 20em;
        height: auto;
    }  
    .three{
        margin-top: 45em;
    }
    #hello-txt{
        margin-left: 3em;
    }
  
}

@media (max-width: 750px) {
    #contacts div{
        width: 100%;
        display: block;
        margin: auto;
        text-align: center;
    }
    div#form{
        display: none;
    }
    #form2{
        float: none;
        margin-top: 0;
    }
    #form2 a{
        font-size: small;
        width: 100vw;
        text-align: center;
        margin: auto;
        margin-bottom: 2em;
        display: block;   
    }
    #form2 img{
        display: grid;
        margin: auto;
        margin-bottom: 0.5rem;
    }
    #thanks h1{
        margin: 0 0 0 0;
        width: 70vw;
        height: auto;
        font-size: medium;
        animation: none;
    }
    footer p{
        font-size: smaller;
        margin: 3em 0 3em 0;
    }
    #hello-txt h1{
        font-size: 2em;
    }
    #hello-img img{
        width: 300px;
        left: 27em 
    }
    #about-img{
        margin-left: 5em;
    }
    .portfolio-icone{
        width: 2em;
    }
    .portfolio-img{
        width: 15em;
        height: auto;
    }  
    .three{
        margin-top: 45em;
    }
    #hello-txt{
        margin-left: 3em;
        margin-top: 5em;
    }
    .header{
        width: 105vw;
    }
    .one{
        margin-top: 5em;
    }
}


@media (max-width: 720px) {
    .one div{
      width: 100vw;
    }
    #hello-img img{
    display: none;
    }
    .home-p{
        margin-left:0;
    }
    #hello{
        width: 100vw;
        margin-left: 0;
    }
    #about-img{
        text-align: center;
        justify-content: center;
        margin-left: 3.5em;
        margin-bottom: -6em;
    }
    .two div{
        width: 100%;
        display: block;
        margin: auto;
        justify-content: center;
        text-align: center;
        line-height: 1em;
    }
    .about-p{
        width: 90vw;
        font-size: small;
        margin: 0 auto;
    }
    #about-txt{
        width: 100vw;
        float: none;

    }
    #about-txt h3{ 
        display: none;
    }
    #cv{
        justify-content: center;
        width: 10em;
        margin-left: 0;
    }
    .two h2{
        width: 100vw;
        margin-left: 0;
    }
    #about-img{
        display: none;    
    }
    .portfolio-icone{
        width: 1.5em;
    }
    .portfolio-img{
        width: 20em;
        height: auto;
    }  
    
    #hello-txt{
        margin-left: 1.5em;
    }
    .header{
        width: 111vw;
    }
    #about-txt{
        width: 100vw;
        margin: auto;
        padding: 0;
    }
    #about-txt #cv{
        margin-left: 10em;
    }
    .three{
        width: 100vw;
        display: inline-block;
        justify-content: space-between;
        align-content: space-between;
    }
    .div-img{
        width: 100%;
        float: none;
    }
    .div-link{
        width: 100%;
        float: none;
        margin-left: -4em;
        margin-top: -8em;
        
    }
    
}

