/* Para zerar o estilo original do navegador e setar a fonte */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}
body{
    background: url("/Media/bkg.webp") no-repeat;
    background-size: cover;
}
p, h1, h3{
    color: #ffffff
}
button{
    border-radius: 50px;
    background-color: #86faea;
    color: #00533c; 
    height: 3em;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1em;
}
button:hover{
    background-color: #00ffbb;
    color: #ffffff;
    transition: 0.3s;
    border: none;
}